<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">

  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>100</session-timeout>
  </session-config>
  <context-param>
    <param-name>drv</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/forum</param-value>
  </context-param>
  <context-param>
    <param-name>usr</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>pwd</param-name>
    <param-value>123456</param-value>
  </context-param>
  <servlet>
    <description>初始化配置</description>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>用户管理</description>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>初始化系统设置</description>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>servlet.InitServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description>初始化系统设置</description>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>servlet.NewsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>初始化系统设置</description>
    <servlet-name>QuestionServlet</servlet-name>
    <servlet-class>servlet.QuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>初始化系统设置</description>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>servlet.CommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActiveServlet</servlet-name>
    <servlet-class>servlet.ActiveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SQLBackupServlet</servlet-name>
    <servlet-class>servlet.SQLBackupServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SQLRestoreServlet</servlet-name>
    <servlet-class>servlet.SQLRestoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SQLRestoreServlet</servlet-name>
    <url-pattern>/servlet/SQLRestoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SQLBackupServlet</servlet-name>
    <url-pattern>/servlet/SQLBackupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/servlet/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActiveServlet</servlet-name>
    <url-pattern>/servlet/ActiveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/servlet/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/servlet/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InitServlet</servlet-name>
    <url-pattern>/servlet/InitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/servlet/NewsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionServlet</servlet-name>
    <url-pattern>/servlet/QuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/servlet/CommentServlet</url-pattern>
  </servlet-mapping>
</web-app>
